@import "tailwindcss";
@plugin "../node_modules/daisyui";

@layer base {
  html,
  body {
    overflow-x: clip;
    height: auto;
  }
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: inherit;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
